<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Melissa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Send to Melissa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StaticTables.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>StaticTablesTests copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A17FBA1D1B44DF8200564F82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17FBA321B44DF8200564F82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17FBA461B44DFF300564F82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18D9BBC1B44E61700F43BF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18D9BC61B44E61700F43BF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18D9BE11B44E62F00F43BF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
