<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Send to Other</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>45</string>
	<key>NSContactsUsageDescription</key>
	<string>The contact you selected will be used as your other. This person&apos;s details will never leave your device.</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>SUBQUERY(extensionItems, $extensionItem, SUBQUERY($extensionItem.attachments, $attachment, ANY
                    $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.file-url&quot; OR ANY
                    $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.url&quot; OR ANY
                    $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.image&quot; OR ANY
                    $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.audiovisual-content&quot; OR ANY
                    $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.text&quot; OR ANY
                    $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;com.adobe.pdf&quot; OR ANY
                    $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.vcard&quot;).@count &gt;= 1 ).@count &gt;=
                    1
                </string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>Send_to_Other.ShareViewController</string>
	</dict>
</dict>
</plist>
